* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

hr {
  border-top: 1px solid #000;
}

body {
  background-color: rgba(218, 34, 255, 0.1);
}

.wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90rem;
  padding: 0 1.5rem;
}

.form-container {
  width: 100%;
  max-width: 60rem;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1;
  margin: 2rem auto;
}

.form-heading {
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: hsla(0, 96%, 70%, 0.6);
}

form {
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.input-group {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.input-group input {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: #fc6767;
  background: transparent;
}

.input-group > i {
  font-size: 2rem;
  margin: 0 1rem;
  color: #fc6767;
}

.input-group .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-group .bar::before {
  content: "";
  position: absolute;
  background-color: #fc6767;
  width: 0;
  height: 2px;
  transition: all 650ms;
}

.input-group input:focus + .bar::before {
  width: 100%;
}

.input-group button {
  margin: 3rem auto;
  padding: 1rem 5rem;
  background: linear-gradient(to left, #fc6767, #ec008c);
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 3rem;
}

.input-group button:hover,
.input-group button:focus {
  background: linear-gradient(to right, #fc6767, #ec008c);
}

.bill {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70rem;
  border: 2px solid #000;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 5rem 0;
}

.bill-godName {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.5rem;
}

.bill-godName h5 {
  font-size: 1.4rem;
}

.bill-header {
  display: flex;
  flex-direction: column;
}

.bill-topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14rem;
  padding: 2rem 2rem 0 2rem;
}

.bill-logo {
  max-width: 15rem;
}

.bill-topHeader img:last-child {
  max-width: 9rem;
  height: 10rem;
  object-fit: cover;
}

.bill-topHeader h1 {
  font-size: 3rem;
}

.bill-ownerInfo,
.bill-topBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  line-height: 1.8;
}

.bill-ownerInfo h2:first-child {
  font-size: 1.6rem;
}

.bill-topMiddle p {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem 0;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.grid-item h4 {
  font-size: 1.4rem;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

.grid-item h5 {
  font-size: 1.4rem;
  padding: 1rem;
}

.grid-item:nth-child(2),
.grid-item:nth-child(4),
.bill-footerMiddle {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.bill-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "bill-footerLeft bill-footerLeft bill-footerLeft bill-footerMiddle bill-footerRight";
}

.bill-footerLeft {
  grid-area: bill-footerLeft;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.bill-footerLeft img {
  max-width: 18rem;
}

.bill-footerMiddle,
.bill-footerRight {
  padding-top: 1rem;
  text-align: center;
}

.bill-footerMiddle h5,
.bill-footerRight h5 {
  padding: 1rem 0;
  font-size: 1.4rem;
}

.bill-footerMiddle h5:not(:last-child),
.bill-footerRight h5:not(:last-child) {
  border-bottom: 1px solid #000;
}

.bill-footerMiddle {
  grid-area: bill-footerMiddle;
}

.bill-footerRight {
  grid-area: bill-footerRight;
}

@media screen and (min-width: 50rem) {
  .btnGroup {
    flex-direction: row;
  }
}
